<div style="display: flex; flex-wrap: wrap;">
  <div class="chart-container" style="flex: 1 1 50%;">
    <canvas id="chartX"></canvas>
  </div>
  <div class="chart-container" style="flex: 1 1 50%;">
    <canvas id="chartY"></canvas>
  </div>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
  <div class="chart-container" style="flex: 1 1 50%;">
    <canvas id="chartFreqx"></canvas>
  </div>
  <div class="chart-container" style="flex: 1 1 50%;">
    <canvas id="chartFreqy"></canvas>
  </div>
</div>